<br>
<div *ngIf="post" class="container">
    <p>Created: {{post.created}}</p>
    <p>Last Updated: {{post.updated}}</p>
    <p>Created by: {{ author }}</p>
    <div class="form-group">
        <label for="post-title">Title</label>
        <input 
            class="form-control" 
            type="text" 
            name="post-title" 
            id="post-title" 
            [(ngModel)]="post.title"
            (change)="inputChange()" 
        />
    </div>
    <div class="form-group">
        <label for="post-body">Body</label>
        <textarea 
            class="form-control" 
            id="post-body" 
            [(ngModel)]="post.body" 
            (change)="inputChange()"
        >
        </textarea>
    </div>
    <div *ngIf="isValidSlug; else invalidSlugDiv" class="form-group">
        <label for="post-slug">Slug</label>
        <input 
            class="form-control" type="text" name="post-slug" id="post-slug" 
            [(ngModel)]="post.slug" (change)="inputChange()"
        />
    </div>
    <ng-template  #invalidSlugDiv>
        <div class="form-group has-error">
            <label className="control-label" htmlFor="post-slug">Slug</label>
            <p className="control-label">Slug already in use.</p>
            <input 
                class="form-control" type="text" name="post-slug" id="post-slug" 
                [(ngModel)]="post.slug" (change)="inputChange()"
            />
        </div>
    </ng-template>
    <button type="button" (click)="save()" [disabled]="!canSubmit">Update</button>
    <button type="button" (click)="goBack()">Cancel</button>
    <button type="button" (click)="delete()">Delete</button>
</div>