<div *ngIf="post">
    <label for="post-title">Title</label>
    <input type="text" name="post-title" id="post-title" [(ngModel)]="post.title" />
    <p>Created: {{post.created}}</p>
    <p>Last Updated: {{post.updated}}</p>
    <label for="post-body">Body</label>
    <textarea id="post-body" [(ngModel)]="post.body" placeholder="Post Body"></textarea>
    <label for="post-slug">Slug</label>
    <input type="text" name="post-slug" id="post-slug" [(ngModel)]="post.slug" />
    <button type="button" (click)="save()">Update</button>
    <button type="button" (click)="goBack()">Cancel</button>
</div>